.allgamesHero {
    background: url(../img/AllgamesDotaHero.png) no-repeat center/cover;
    height: 50vh;
    width: 93vw;
    padding-bottom: 10px;
    border-radius: 50px;
    margin: 4rem 0 5rem 6rem;
    font-family: 'Oswald', sans-serif;
}

.allgamesHero h1 {
    font-size: 3rem;
    color: white;
    padding: 20vw 0 0 6vw;
}


/*------Form--CSS-------*/

.multiselect {
    width: 200px;
    margin-left: 10rem;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

.selection {
    margin-left: 10vw;
}

.platforms-Check {
    width: 200px;
    border: 1px solid #aaa;
    padding: 10px;
    position: relative;
    margin: 0 auto;
    user-select: none;
}

.platforms-Check::after {
    content: '';
    height: 0;
    position: absolute;
    width: 0;
    border: 6px solid transparent;
    border-top-color: #000;
    top: 50%;
    right: 10px;
    margin-top: -3px;
}

.platforms-Check.handlePlatformChange::after {
    border-bottom-color: #000;
    border-top-color: #fff;
    margin-top: -9px;
}

.platforms-Check-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    /* align the dropdown right below the dropdown text */
    border: inherit;
    border-top: none;
    left: -1px;
    /* align the dropdown to the left */
    right: -1px;
    /* align the dropdown to the right */
    opacity: 0;
    /* hide the dropdown */
    transition: opacity 0.4s ease-in-out;
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
    pointer-events: none;
    /* avoid mouse click events inside the dropdown */
}

.handlePlatformChange .platforms-Check-list {
    opacity: 1;
    /* display the dropdown */
    pointer-events: auto;
    /* make sure that the user still can select checkboxes */
}

.platforms-Check-list li label {
    display: block;
    border-bottom: 1px solid silver;
    padding: 10px;
    transition: all 0.2s ease-out;
}

.platforms-Check-list li label:hover {
    background-color: #555;
    color: white;
}

@media screen and (max-width: 375px) {
    input[type=submit] {
        top: 70px;
        left: 260px;
    }
    .allgamesHero {
        margin: 9rem 0px 7rem 1rem;
    }
    .secRecently {
        /* margin: 0; */
    }
    .secRecently article {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0px 0rem 8rem 0rem;
        border-radius: 2rem;
        font-family: 'Oswald', sans-serif;
    }
}