@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.sectionHero {
    background: url(../img/Hero.png) no-repeat center/cover;
    height: 70vh;
    margin: 4rem 0 0 4rem;
    font-family: 'Oswald', sans-serif;
}

.sectionHero h1 {
    font-size: 3rem;
    color: white;
    width: 40%;
    padding: 25rem 0 0 5rem;
    
}

.sectionRecently {
    margin: 3rem 2rem 0 10rem;
    color: white;
}

.sectionRecently .recentPic {
    width: 100%;
    border-radius: 2rem;
}

.sectionRecently h2 {
    margin: 8rem 0 2rem 0;
    font-family: 'Oswald', sans-serif;
}

.sectionRecently article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    border-radius: 2rem;
    font-family: 'Oswald', sans-serif;
    /* flex-wrap: wrap;
    width: 80%; */
}

.sectionRecently article article {
    display: flex;
    flex-direction: column;
    background-color: #102130;
}

.contentWrapper {
    padding: 0 2rem 1rem 2rem;
}

.contentPara {
    line-height: 2rem;
    font-family: 'Titillium Web', sans-serif;
}

.contentBottom {
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.529);
    padding-top: 1rem;
}

.contentBottom img {
    padding: 15px 1rem;
}

.contentBottom p {
    padding: 10px;
    border: 1px solid red;
    border-radius: 15px;
}